<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Pugs</title>
        <link rel="stylesheet" href="{{ "/css/shelly.css" | prepend: site.baseurl }}"> <!-- from includes, header.html copy and paste-->
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="{{ "/scripts/shelly.js" | prepend: site.baseurl }}"></script> <!-- just copy and paste css from above and change to js -->
    </head>
    <body>
        <h1>This is my site's title</h1>

		<main>
		{{ content }}        
		</main>

    </body>
</html>